* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg.jpg");
}

main {
    /* font-family: "Poppins", sans-serif; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    padding: 0px 25px 0px 25px;
}

.main-card {
    min-height: 85vh;
    width: 65%;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    z-index: 3;
    display: flex;
}

.sidebar {
    /* position: absolute; */
    display: flex;
    flex: 1;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem 0rem 0rem 2rem;
    z-index: 4;
}

.competition {
    position: relative;
    left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feedbox {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.feed {
    display: flex;
    flex: 29;
    flex-direction: column;
    justify-content: space-evenly;
}

.pagination {
    flex: 1;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-button {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .7;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 6px 2px rgb(43, 39, 39);
    margin: 0px 10px 6px 10px;
    transition: all ease 0.6s;
}

.page-button:hover {
    transform: rotate(.5turn);
}

.logo {
    /* background-image: url(./images/competition_logo/bund.png); */
    background-size: cover;
    height: 85px;
    width: 85px;
}

.team-logo {
    background-size: cover;
    height: 80px;
    width: 80px;
    transition: all ease .6s;
}

.team-logo:hover {
    transform: scale(1.25);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    top: 20px;
    left: 90px;
    height: 50px;
    width: 210px;
    background: rgba(44, 36, 36, 0.11);
    border-radius: 4rem;
}

.text {
    font-size: 28px;
    font-style: italic;
    font-weight: bolder;
    color: rgba(53, 53, 207, 0.801);
}

.scorebar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all ease 0.6s;
}

.scorebar {
    height: 60px;
    width: 45%;
    /* background-color: yellowgreen; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.30);
    border-radius: 4rem;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}